VITE_MAGIC_PUBLISHABLE_KEY=pk_live_...
VITE_CHARGE_REGISTRY_ADDR=
VITE_SCHEDULE_ENGINE_ADDR=
VITE_PAYOUT_ROUTER_ADDR=
VITE_LIQUIDITY_POOL_ADDR=
VITE_DEFAULT_HANDLER_ADDR=
VITE_USDC_ADDRESS=0xaf88d065e77c8cC2239327C5EDb3A432268e5831
VITE_WALLETCONNECT_PROJECT_ID=
